.venv
.vscode
.env
*.pytest_cache
*pyc
*.npy
*.pickle
.eggs
*.egg-info
.coverage
coverage.xml
*.idea
*.pkl
*.gz
*__pycache__
Pipfile
Pipfile.lock
local.py
src/local.py
*data
*.data
.DS_Store
uv.lock
.ruff_cache
