version: "3.9"

services:
  postgres:
    image: pgvector/pgvector:pg16
    container_name: postgres
    restart: always
    env_file: .env
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: always
    env_file: .env
    volumes:
      - ollama_data:/root/.ollama
    ports:
      - "11434:11434"
    environment:
      - OLLAMA_HOST=0.0.0.0

volumes:
  postgres_data:
  ollama_data: